{% extends 'layoutpage.html'%}
{% block content %}

<h1>Course Description</h1>


{% if id %}
<h3> {{ id }}</h3>
    <p>{{ course }}</p>
 {% else %}     
      <p>Courses are on the way</p>
  {% endif %}

{% for c in forms.course  %}
    {% if c.id==id %}
    
   
<h1>{{ c.courseName }}</h1>
<p>Description: {{ c.description }} </p><p>Time: {{ c.teachingTime }}</p>
<p>Level:{{c.level}}</p><p>Start/duration:{{c.semester}}</p>

<p><a href="{{ url_for('signup') }}">Go to sign up page</a></p>

   {% endif %}
{% endfor %}


{% endblock content%}