{% extends 'layoutpage.html'%}
{% block content %}

<h1>Welcome to Lyngby Evening School</h1>

<div>See what courses are available</div>


<ul class="list-group" id="category">
   {% for i in forms.categorydropdown.choices %}
   
   <li id="discat" class="list-group-item"><a href="javascript:dis()"><h3>{{ i.categoryName }}</h3></a></li>
      {% for c in forms.coursedropdown.choices %}
        <ul >
          {% if i.id==c.category %}
          <div id = "dis">
            <li class="list-group-item"><a href="coursedescription/{{c.id}}">{{ c.courseName }}</a></li>
          </div>
          {% endif %}      
           </ul> 
      {% endfor %}
     
      
   {% endfor %}
</ul>

<script>
 function dis()
 {
    $("#dis").show();
 }
 
 $("#discat").click(function(){
  $("#dis").show();
});
 
 
 $("#dis").click(function(){
  $("#dis").hide();
});

</script>
 



{% endblock content %}
