<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">

{% if title%}
<title>{{ title }}</title>
{% else %}
<title>Lyngby Evening School</title>
{% endif %}
<style>
/*#dis{
    display:none;
} */
</style>
</head>
<body>


<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
   
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('index')}}"><h3>Home </h3></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('index')}}"><h3> About LES</h3></a>
    </li>
    <li class="nav-item">   
       <a class="nav-link" href="{{ url_for('index')}}"><h3>Educations</h3></a>
    </li>
    <li class="nav-item">   
       <a class="nav-link" href="{{ url_for('index')}}"><h3>Contact</h3></a>
    </li>
  </ul>
</nav>


<div class='container'>
{% block content %}{% endblock%}
</div>



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  
</body>
</html>