{% extends 'layoutpage.html'%}
{% block content %}


<p>{{ sel }}</p>

<form action="success" method="POST">
{{ forms.hidden_tag() }}
    <fieldset>
      <legend>Signup for </legend>
        <table>
           
     
     <select name="selectid">
       <option value="0" SELECTED>{{ forms.Select.label(class="form-control-label") }}</option>
            {% for c in forms.Select.choices %}
                <option value= {{ c.id }}>{{ c.courseName }}</option>
            {% endfor %}
     </select>  
            
           
            <tr><td> {{ forms.name.label(class="form-control-label") }} </td></tr>
            {% if forms.name.errors %}
                 {{ forms.name(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                   {% for error in forms.name.errors %}
                       <span>{{ error }}</span>
                   {% endfor %}    
                  </div>
             {% else %}     
                <tr><td>    {{ forms.name(class="form-control form-control-lg") }} </td></tr>
             {% endif %}
            
            
            <tr><td> {{ forms.phone.label(class="form-control-label") }}</td></tr>
            
             {% if forms.phone.errors %}
                 {{ forms.phone(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                   {% for error in forms.phone.errors %}
                       <span>{{ error }}</span>
                   {% endfor %}    
                  </div>
             {% else %}     
                <tr><td>    {{ forms.phone(class="form-control form-control-lg") }} </td></tr>
             {% endif %}
             
            
            <tr><td> {{ forms.email.label(class="form-control-label") }}</td></tr>
            
             {% if forms.email.errors %}
                 {{ forms.email(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                   {% for error in forms.email.errors %}
                       <span>{{ error }}</span>
                   {% endfor %}    
                  </div>
             {% else %}     
                <tr><td>    {{ forms.email(class="form-control form-control-lg") }} </td></tr>
             {% endif %}
            
            
            
            
            <tr><td><tr><td> {{ forms.submit() }} </td></tr></td></tr>
        </table>
         </fieldset>
</form>


{% endblock content%}